
header a{
	color: #fff;
}
.ground1{
	text-align: center;
	background-color: #ccc;
	
}
.ground2{
	background-color: #fff;
	color: #000000;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	border-bottom: 1px dashed #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ground2 h4{
	margin-left: 20px;
}
.ground2 span{
	margin-left: 20px;
}
.position-pannel{
	
	background-color: #fff;
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px dashed #ccc;
	padding-top: 10px;
}
.position-pannel p{
	margin-left: 20px;
	display: flex;
}

.position-pannel img{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.position-pannel p .icon,i{
	flex-grow: 1;
	color: #666666;
	font-size: 13px;
	
}

/*.position-pannel p i:nth-child(3){
	margin-top: 10px;
}*/

.label{
	color: red;
}

.ground3{
	background-color: #fff;
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.picture{
	background-color: #fff;
	border-bottom: 1px dashed #ccc;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
}

img{
	width: 50px;
}
.picture a{
	color: black;
	font-family: "微软雅黑";
	font-size: 15px;
	
}

.ground3 dl{
	overflow: hidden;
	margin: 0;
	display: flex;
	justify-content: space-around;
	padding-bottom: 3px;
	padding-top: 15px;
}
.ground3 dl dt .info1{
	background-color: #ccc ;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info2{
	background-color: #ccc;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info3{
	background-color: #ccc;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info4{
	background-color: #ccc;
	padding: 5px 18px 5px 18px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info5{
	background-color: #ccc;
	padding: 5px 18px 5px 18px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info6{
	background-color: #ccc;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info7{
	background-color: #ccc;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	border-radius: 3px;
}
.ground3 dl dt .info8{
	background-color: #ccc;
	padding: 5px 12px 5px 12px;
	font-size: 15px;
	border-radius: 3px;
}
.ground4{
	background-color: #fff;
	color: #000000;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	border-bottom: 1px dashed #ccc;
}
.ground4 h4{
	margin-left: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.ground5{
	margin-left: 10px;
	margin-right: 10px;

}
.ground5 h5{
	background-color: #fff;
	color: #000000;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
	
}
.ground6{
	background-color: #fff;
	margin-left: 10px;
	font-size: 13px;
	margin-right: 10px;
}
.ground6 ol{
	margin-top: 0;
	margin-bottom: 0;
}
.ground6 p{
	margin-left: 10px;
}
.ground7{
	margin-left: 10px;
	margin-right: 10px;

}
.ground8 ol {
	margin-bottom: 0;
	margin-top: 0;	
	
}
.ground7 h5{
	background-color: #fff;
	color: #000000;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
}
.ground8{
	background-color: #fff;
	margin-left: 10px;
	font-size: 13px;
	margin-right: 10px;
	padding-bottom: 15px;
}

.ground9{
	text-align: center;
}
.ground9 input{
	background-color: #0099FF;
	width: 70%;
	color: #fff;
	border-radius: 10px;
	padding: 10px 25px 10px 25px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	font-weight: bold;	
	margin-bottom: 20px;
}
